/* INDEX */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: $color-fondo;
    font-family: 'Montserrat', sans-serif;
}

.contenedorGrid {
    width: map-get($index, width);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px auto 330px;
}

/* HEADER */

header {
    background-color: $color-base;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: map-get($index, width);
}

.nombre-empresa {
    font-size: 40px;
    font-weight: 900;

    &:hover {
        transform: translateY(3%);
    }

    a {
        color: $color-fuerte;
        text-decoration: map-get($header, style);

        &:hover {
            color: $color-tipografia;
        }
    }

}

.logo {
    padding-left: 10px;
}

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: map-get($header, style);
    margin: 0;

    a {
        font-size: 20px;
        padding: 7px 13px;
        font-weight: 600;
        color: $color-fuerte;
        text-decoration: map-get($header, style);

        &:hover {
            color: $color-tipografia;
        }
    }
}

/* media queries mobile menu */
#navbar {
    display: map-get($header, style);
}

.nombre-empresaMobile {
    font-size: 35px;
    font-weight: 900;
    padding: 5px;
    display: map-get($header, style);
}

/* MAIN CARROUSEL */
main {
    justify-content: center;
    padding-bottom: 30px;
}

.containerIndex {
    width: map-get($index, width);
    display: grid;
    grid-template-columns: 1fr;
}

#prev, #next {
    &:hover {
        background-color: $color-tipografia;
    }
}

/* MAIN CARD (INDEX-COMPRAR) */
.containerCard {
    width: map-get($index, width);
    display: flex;
    padding-top: 30px;
}

.card {
    width: map-get($index, width);
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: $color-base;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;

    &:hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(3%);
    }

    .contenido {
        padding: 15px;
        text-align: center;

        p {
            font-weight: 400;
            font-size: 19px;
        }

        a {
            display: inline-block;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid $color-fuerte;
            border-radius: 4px;
            transition: all 400ms ease;
            text-decoration: map-get($header, style);
            color: $color-fuerte;

            &:hover {
                background-color: $color-fuerte;
                color: $color-tipografia;
            }
        }

        ul {
            text-align: start;
            font-size: 19px;
            font-weight: 400;
        }

        h2 {
            font-size: 25px;
        }
    }
}

/* FOOTER */

footer {
    background-color: $color-base;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#punto,
#punto-dos {
    list-style: map-get($header, style);
    justify-content: flex-start;
    margin: 0;

    a {
        text-decoration: map-get($header, style);
        color: $color-fuerte;

        &:hover {
            color: $color-fondo;
        }
    }
    
}

.fb, .ig {
    display: flex;
    justify-content: space-between;

    #iconIg, #iconFb {
        color: $color-fuerte;
        padding-right: 2px;
        padding-top: 3px;
    }
}

#columnUbi {
    flex-flow: column;
    justify-content: flex-end;
    padding-bottom: 20px;
    .ubi {
        font-size: 16px;
    }
}

