$color-fondo: rgb(221, 185, 255);
$color-base: rgb(245, 245, 245);
$color-fuerte: rgb(175, 93, 156);
$color-tipografia: black;

$borde: 1px solid $color-fuerte;

$padding: 10px;

$transition: all 400ms ease;